html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    height: 100%;
}


/* navbar */

.navbar {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 8px;
}

.log {}

.navbar,
.right-side,
.left-side {
    display: flex;
}

.left-side {
    align-items: center;
}

.right-side {
    margin-left: auto;
}

.right-side>div {
    margin: 5px;
    padding: 5px;
}

.left-side>div {
    margin: 10px;
    padding: 5px;
}

.form-group {
    position: relative;
    left: 300px;
}

.input-form {
    width: 500px;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
}

.signin-btn {
    border: none;
    padding: 7px;
    background: rgb(22, 122, 198);
    font-size: 12px;
    color: white;
    margin: 0 10px 0 0;
}

.btn-search {
    border: none;
    padding: 14px 20px;
    background-color: #eee;
    border-radius: 6px;
}


/* end of navbar */


/* langauge option */
.lang-option {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 122, 198);
    margin: 10px 0;
    padding: 3px;
    color: #fff;
}
.lang-top {
    display: flex;
    padding: 7px;
}
.description{
    background-color: white;
    color: #000;
    padding: 20px;
}
.lang-top > div {
    padding: 10px;
}
.btn-close {
    margin-left: auto;
}

.question-icon {
    font-size: 11px;
}
.help-icon{
    position: relative;
}
sup {
    position: absolute;
    bottom: 18px;
}
.description {
    display: flex;
}
.text-description a {
    text-decoration: none;
    color:  rgb(22, 122, 198);
}
.text-learn {
    margin-left: auto;
}
.text-learn a {
    text-decoration: none;
    color:  rgb(22, 122, 198);
}
/* end of language option */

/* icon colors */

.gray {
    color: grey;
}

.red {
    color: red;
}


/* end of icon colors */