html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    height: 100%;
}


/* navbar */

.navbar {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.log {}

.navbar,
.right-side {
    display: flex;
}

.right-side {
    margin-left: auto;
}

.right-side>div {
    margin: 5px;
    padding: 5px;
}


/* end of navbar */


/* icon colors */

.gray {
    color: grey;
}

.red {
    color: red;
}


/* end of icon colors */